.dialog-enter {
    opacity: 0.01;
    transform: scale(0.5);
}

.dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 400ms;
}

.dialog-exit {
    opacity: 1;
    transform: scale(1);
}

.dialog-exit-active {
    opacity: 0.01;
    transform: scale(0.5);
    transition: all 400ms;
}