html,
body,
#root {
  height: 100%;
  --main-gm-blue: #1890ff;
  --main-gm-blue--hover: #40a9ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-notification.ant-notification-bottomLeft {
  z-index: 1999;
}

.MuiModal-root-38 {
  display: flex;
  justify-content: center;
  align-items: center;
}